#topber{
    background-color: #424646;
    line-height: 50px;
}
#topber ul li{
    padding: 0 10px;
}
#topber ul li a{
    text-decoration: none;
    color:rgb(238, 238, 238);
    font-family: 'Oswald', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    font-weight: 300;
    font-size: 15px;
}
#topber .items{
    text-align: right;
}


@media (min-width:320px) and (max-width:575px){
    #navber .items .logo {
        width: 20%;
    }
    #navber .items .search input {
        width: 70%;
    }
    #topber ul li a {
        font-size: 12px;
    }
    #topber .items {
        text-align: center;
    }
    ol, ul {
        padding-left: 2rem;
    }
    #topber ul li {
        padding: 0 7px;
    }
    dl, ol, ul {
        padding: 0 !important;
    }
}

@media (min-width:576px) and (max-width:767px){

}

@media (min-width:768px) and (max-width:991px){

}

@media (min-width:991px) and (max-width:1199px){

}

@media (min-width:1200px) and (max-width:1399px){

}

