#login{
    margin-top: 60px;
}
#login .all{
    border: 1px solid rgba(240, 90, 45, 0.534);
    padding: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#login  .btn{
    padding: 0;
    margin-bottom: 10px;
}
#login  .btn{
    color:white;
    width: 100%;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: #f05a2d;
    border: 1px solid #f05a2d;
    padding: 5px 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#login .btn:hover{
    color: #333;
    border: 1px solid #333;
    background-color: #f8f8f8;
}
#login a{
    color:#f05a2d;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
#login img{
    margin-top:20px;
}
#login h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 27px;
	font-weight: 700;
	color: white;
	text-align: center;
    margin: 0;
}
#login  .alert-primary {
	--bs-alert-bg: #f05a2d !important;
	--bs-alert-border-color: #f05a2d !important;
}
#login  label{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color:#333;
    font-weight: 400;
}
#login  input{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color:#333;
    font-weight: 400;
}
#login .red{
    color: #f05a2d !important;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
#login p{
    color: #333;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}


@media (min-width:320px) and (max-width:575px){
    #login img {
        display: none;
    }
}

@media (min-width:576px) and (max-width:767px){
    #login img {
        margin-top: 131px;
    }
}

@media (min-width:768px) and (max-width:991px){
    /* #login img {
        margin-top: 204px;
    } */
}

@media (min-width:992px) and (max-width:1199px){
   
}