/* font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif; */



/* orange
color:#f05a2d; */

/* black
color: #333; */

/* button
 a{
	font-size: 16px;
    font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: white;
    border: 1px solid #f05a2d;
    background-color: #f05a2d;
    padding: 5px 15px;
} */