#banner{
    margin: 90px 0;
    background-size: cover;
    padding: 100px 0;
    position: relative;
}

#banner .items{
    position: relative;
}
#banner .items p {
	font-size: 16px;
    font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #333;
	margin: 0;
    letter-spacing: 2px;
}
#banner .items h2{
	font-size: 32px;
    font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #333;
    margin-bottom: 15px;
}
#banner .items span{
	font-size: 40px;
    font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #f05a2d;
}
#banner .items a{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: white;
    border: 1px solid #333;
    background-color: #333;
    padding: 5px 15px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
#banner .items a:hover{
    border: 1px solid #f05a2d;
    background-color: #f05a2d;
}


@media (min-width:320px) and (max-width:575px){
    #banner .items p {
        font-size: 14px;
    }
    #banner .items h2 {
        font-size: 18px;
    }
    #banner .items span {
        font-size: 26px;
    }
    #banner .items a {
        font-size: 14px;
    }
    #banner {
        margin: 55px 0;
        padding: 50px 0;
    }
}

@media (min-width:576px) and (max-width:767px){
    #banner .items h2 {
        font-size: 28px;
    }
    #banner .items span {
        font-size: 35px;
    }
    #banner {
        margin: 65px 0;
        padding: 70px 0;
    }
}

@media (min-width:768px) and (max-width:991px){

}

@media (min-width:992px) and (max-width:1199px){

}

@media (min-width:1200px) and (max-width:1399px){

}