#registration{
    margin-top: 60px;
}
#registration .all{
    border: 1px solid rgba(240, 90, 45, 0.534);
    padding: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#registration .btn {
    border: 1px solid #f05a2d;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color:white;
    background-color: #f05a2d;
	padding: 0;
	margin-bottom: 10px;
	width: 100%;
	padding: 5px 0;
}
#registration .btn:hover{
    color: #333;
    border: 1px solid #333;
    background-color: #f8f8f8;
}

#registration img{
    margin-top:100px;
}
#registration h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 27px;
	font-weight: 700;
	color: white;
	text-align: center;
    margin: 0;
}
#registration  .alert-primary {
	--bs-alert-bg: #f05a2d !important;
	--bs-alert-border-color: #f05a2d !important;
}
#registration  label{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color:#333;
    font-weight: 400;
}
#registration  input{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color:#333;
    font-weight: 400;
}
#registration .red{
    color: #f05a2d !important;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
#registration p{
    color: #333;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}




@media (min-width:320px) and (max-width:575px){
    #registration img {
        display: none;
    }
}

@media (min-width:576px) and (max-width:767px){
    #registration img {
        margin-top: 205px;
    }
}

@media (min-width:768px) and (max-width:991px){
    #login img {
        margin-top: 120px;
    }
}

@media (min-width:992px) and (max-width:1199px){
    #registration img {
        margin-top: 115px;
    }
}